@page
@model AddUserModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Skapa Användare</h1>
    

</div>

<form asp-action = "Index">
  <div class="form-group">
    <label for="email">Email address</label>
    <input  asp-for="email" type="email" class="form-control" placeholder="Ange email"/>
    





  </div>
<div class="form-group">
    <label for="username">Användarnamn</label>
    <input  asp-for="Username" type="text" class="form-control" placeholder="Ange användarnamn"/>
    
  </div>


  <div class="form-group">
    <label for="password">Lösenord</label>
    <input asp-for="UserPassword" type="password" class="form-control" placeholder="Lösenord" />
  </div>

  <div class="form-group">
    <label for="text">Telefonnummer</label>
    <input  asp-for="PhoneNumber" type="text" class="form-control" placeholder="Ange telefonnumer"/>
    
  </div>
  
  
 
  <button type="submit" class="btn btn-primary" >Logga in</button>

  <!--button type="submit" class="btn btn-primary" >Logga in</button>
  -->

  </form>
 

  
  
 
                

