@page
@model LoggedInModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    
            <li>
                <h1 class="display-5">"Välkommen: " @Model.userLogged</h1>
             
            </li>         


</div>


    
@Model.friend
@foreach(var item in Model.friends)
{
            <div class="text-left">           
            <li>      
                "Släktingens namn: " @item.friendsId                
            </li>
            <li>
                "Släkt Typ: " @item.myRelative
            </li>
            </div>
}



